{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'styles.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="title_header">{{ title }}</div>
    <div class="store_address">Адрес магазина: {{ store_address }}</div>
    <div class="order_title">Заказ:</div>
    <ul class="books_list">
        {% for book in books %}
        <li class="book_element">
            {{ book.title }} {{ book.author }}, {{ book.price }}р., {{ book.quantity }} шт.
        </li>
        {% endfor %}
    </ul>
    <div class="total_price">Итого: {{ total }}р.</div>
    <div class="receiving_code">Код получения: {{ code }}</div>
</body>
</html>